.newUserText {
  margin-bottom: 1em;
  text-align: center;
  line-height: 1.2em;
  font-size: 28.8px;
}

.newUserButton {
  border: 1px solid #e3e2e2;
  border-radius: 4px;
  font-size: 1.25em;
  padding: 0.5em 1em;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ffce32),
    to(#f9a519)
  );
  color: white;
  margin-left: 43%;
  text-decoration: none;
  margin-bottom: 1em;
}


.pos {
    position:absolute;
    bottom:0;
    width:100%
}
