{% extends 'base.html.twig' %}

{% block body %}
    <form method='post'>
        <label for="name">Nombre</label>
        <input type="text" name="name"/>
        <label for="email">email</label>
        <input type="text" name="email"/>
        <label for="city">city</label>
        <input type="text" name="city"/>
        <input type="submit" value="crear"/>
    </form>
{% endblock %}